@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Gloock", serif;
  margin: 0;
}

.loading {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 45%;
  left: 43%;
  margin: auto;
  overflow: hidden;
  font-size: 50px;
  white-space: nowrap;
  animation-name: showHide, hideShow;
  animation-duration: 1s, 1s;
  animation-delay: 0s, 2s;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-fill-mode: forwards;
}

@keyframes showHide {
  0% {
    width: 0;
  }
  100% {
    width: 248px;
  }
}
@keyframes hideShow {
  0% {
    height: 60px;
    top: 45%;
  }
  100% {
    height: 0;
    top: 51%;
  }
}
.title {
  width: 200px;
  position: absolute;
  left: 43%;
  padding: 20px;
  font-family: "Gloock", serif;
  text-align: center;
}
.title h1 {
  font-family: "Lora", serif;
  color: rgb(0, 0, 0);
}

.icon {
  width: 200px;
  height: 100px;
  position: relative;
  left: -15%;
}

#emailIcon {
  position: absolute;
  top: -30%;
  left: 10%;
  height: 60px;
  width: 60px;
  z-index: 0;
  background-image: url("../icon/email-icon.png");
  background-size: cover;
}

#emailIconUp {
  position: absolute;
  top: -30%;
  left: 10%;
  height: 60px;
  width: 60px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  background-image: url("../icon/email-icon.png"), linear-gradient(rgb(0, 225, 255), rgb(255, 179, 179));
  background-size: cover;
  background-blend-mode: lighten;
}

#emailIconUp:hover {
  transition: 0.5s;
  opacity: 1;
}

#gitIcon {
  position: absolute;
  left: 68%;
  top: -23%;
  height: 45px;
  width: 45px;
  z-index: 0;
  background-image: url("../icon/github-mark.jpg");
  background-size: cover;
}

#gitIconUp {
  position: absolute;
  left: 68%;
  top: -23%;
  height: 45px;
  width: 45px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  background-image: url("../icon/github-mark.jpg"), linear-gradient(rgb(0, 225, 255), rgb(255, 179, 179));
  background-size: cover;
  background-blend-mode: lighten;
}

#gitIconUp:hover {
  transition: 0.5s;
  opacity: 1;
}

.sideBar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
}
.sideBar h1 {
  color: rgb(255, 255, 255);
  padding: 8px 8px 8px 32px;
}
.sideBar p {
  cursor: pointer;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
  display: block;
  transition: 0.25s;
}
.sideBar p.clicked {
  color: rgb(176, 218, 255);
  background-color: rgb(0, 140, 255);
}
.sideBar p.closeButton {
  padding: 0 0 0 0;
}
.sideBar p:hover {
  background-color: rgb(0, 140, 255);
}
.sideBar p:hover.closeButton {
  background-color: black;
  color: rgb(0, 136, 255);
}
.sideBar .closeButton {
  border: none;
  padding: 0 0 0 0;
  position: absolute;
  top: -35px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#openSideButton {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  transition: background-color 0.5s;
}

.openButton:hover {
  background-color: #adadad;
}

#sideMenu {
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sideBar {
    padding-top: 15px;
  }
  .sideBar a {
    font-size: 18px;
  }
}
.mainPart {
  padding: 100px 0px 100px 100px;
}/*# sourceMappingURL=style.css.map */