@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(farthest-corner at bottom, rgb(255, 179, 179), rgb(0, 26, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Gloock", serif;
  margin: 0;
}

.loading {
  z-index: 10;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 45%;
  left: 43%;
  margin: auto;
  overflow: hidden;
  font-size: 50px;
  white-space: nowrap;
  animation-name: showHide, hideShow;
  animation-duration: 1s, 1s;
  animation-delay: 0s, 2s;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-fill-mode: forwards;
}

@keyframes showHide {
  0% {
    width: 0;
  }
  100% {
    width: 248px;
  }
}
@keyframes hideShow {
  0% {
    height: 60px;
    top: 45%;
  }
  100% {
    height: 0;
    top: 51%;
  }
}
.title {
  width: 200px;
  position: absolute;
  left: 43%;
  padding: 20px;
  font-family: "Gloock", serif;
  text-align: center;
}
.title h1 {
  font-family: "Lora", serif;
  color: rgb(255, 255, 255);
}

#emailIcon {
  position: absolute;
  top: 80%;
  left: 8px;
  height: 20px;
  width: 30px;
  z-index: 0;
  background-image: url("../icon/email-icon.png"), linear-gradient(rgb(0, 32, 175), rgb(0, 0, 0));
  background-size: cover;
  background-blend-mode: lighten;
}

#emailIconUp {
  position: absolute;
  top: 80%;
  left: 8px;
  height: 20px;
  width: 30px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  background-image: url("../icon/email-icon.png"), linear-gradient(rgb(0, 26, 255), rgb(255, 179, 179));
  background-size: cover;
  background-blend-mode: lighten;
}

#emailIconUp:hover {
  transition: 0.5s;
  opacity: 1;
}

#gitIcon {
  position: absolute;
  top: 85%;
  left: 8px;
  height: 30px;
  width: 30px;
  z-index: 0;
  background-image: url("../icon/github-mark.png"), linear-gradient(rgb(0, 32, 175), rgb(0, 0, 0));
  background-size: cover;
  background-blend-mode: lighten;
}

#gitIconUp {
  position: absolute;
  top: 85%;
  left: 8px;
  height: 30px;
  width: 30px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  background-image: url("../icon/github-mark.png"), linear-gradient(rgb(0, 26, 255), rgb(255, 179, 179));
  background-size: cover;
  background-blend-mode: lighten;
}

#gitIconUp:hover {
  transition: 0.5s;
  opacity: 1;
}

#sideBar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  z-index: 5;
}
#sideBar h1 {
  color: rgb(255, 255, 255);
  padding: 8px 8px 8px 12px;
}
#sideBar p {
  cursor: pointer;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
  display: block;
  transition: 0.25s;
}
#sideBar p.clicked {
  color: rgb(176, 218, 255);
  background-color: rgb(0, 140, 255);
}
#sideBar p.closeButton {
  padding: 0 0 0 0;
}
#sideBar p:hover {
  background-color: rgb(0, 140, 255);
}
#sideBar p:hover.closeButton {
  background-color: black;
  color: rgb(0, 136, 255);
}
#sideBar .closeButton {
  border: none;
  padding: 0 0 0 0;
  position: absolute;
  top: -35px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sideIcon {
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 100vh;
  background: linear-gradient(rgb(0, 26, 255) 30%, rgb(255, 179, 179));
  z-index: -1;
}

#openSideButton:hover {
  --LGColor1: rgb(0, 26, 255);
  --LGColor2: rgb(255, 179, 179);
}

#openSideButton {
  z-index: 2;
  position: absolute;
  left: 0;
  top: -5px;
  font-size: 20px;
  cursor: pointer;
  background-image: linear-gradient(var(--LGColor1), var(--LGColor2));
  color: white;
  padding: 10px 15px;
  border: none;
  transition: --LGColor1 0.5s, --LGColor2 0.5s;
}

@property --LGColor1 {
  syntax: "<color>";
  initial-value: rgb(0, 26, 255);
  inherits: false;
}
@property --LGColor2 {
  syntax: "<color>";
  initial-value: rgb(0, 26, 255);
  inherits: false;
}
#sideMenu {
  position: absolute;
}

@media screen and (max-height: 450px) {
  .sideBar {
    padding-top: 15px;
  }
  .sideBar a {
    font-size: 18px;
  }
}
.mainPart {
  position: absolute;
  top: 200px;
  left: 10%;
}
.mainPart .hiddenPage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 0;
  width: 75vw;
  opacity: 0;
  background-color: white;
  transition: 1s;
}
.mainPart .hiddenPage h1 {
  position: relative;
  left: 10%;
}
.mainPart .hiddenPage p {
  position: relative;
  left: 10%;
}
.mainPart .hiddenPage.frontPage {
  height: 500px;
  opacity: 1;
  transition: 1s;
}/*# sourceMappingURL=style.css.map */